@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* =======================================================
*
* 	Template Style 
*
* ======================================================= */
.theader {
  background-color: #d31f25;
  min-height: 18px;
}

#wrapper {
  position: relative;
  overflow-x: hidden;
}

.theader.theader-black {
  background-color: #000 !important;
}

.theader b {
  font-weight: 550 !important;
  color: #000;
  font-size: 15px;
}

.theader-content {
  color: #fff;
  text-align: end;
  font-size: 14px;
  padding: 2px 10px 0 0;
  margin: 0;
  vertical-align: middle;
  line-height: 1;
  font-weight: 500;
}
.theader-content div {
  display: inline;
}
.theader-content-text {
  position: relative;
  top: -4px;
}

.timing-detail {
  float: left;
  padding: 2px 10px 0 10px;
}

.xs-logo {
  margin-top:50px;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 1.5;
  color: gray;
  background: #fff;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; 
}

  .offcanvas #page {
    overflow: hidden;
    position: absolute; }
    .offcanvas #page:after {
      -webkit-transition: 2s;
      -o-transition: 2s;
      transition: 2s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 101;
      background: rgba(0, 0, 0, 0.7);
      content: ""; }

a {
  color: #d31f25;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  a:hover, a:active, a:focus {
    color: #d31f25;
    outline: none;
    text-decoration: none;
  }

p {
  margin-bottom: 20px; }

h1, h2, h3, h4, h5, h6, figure {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 400;
  margin: 0 0 20px 0;
  line-height: 1.5; }

::-webkit-selection {
  color: #fff;
  background: #d31f25; }

::-moz-selection {
  color: #fff;
  background: #d31f25; }

::selection {
  color: #fff;
  background: #d31f25; }

.trainer-img,
.classes-img,
.gym-video,
.intro-img,
.subs-img,
.figure-img,
.user-img,
.blog-img,
.gym-about-img,
.services-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative; }

.gym-nav {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  margin: 0 auto; }
  @media screen and (max-width: 768px) {
    .gym-nav {
      margin: 0; } }
  .gym-nav .top-menu {
    padding: 40px 30px; }
    @media screen and (max-width: 768px) {
      .gym-nav .top-menu {
        padding: 28px 1em; } }
  .gym-nav #gym-logo {
    font-size: 24px;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 900; }
    .gym-nav #gym-logo a {
      position: relative;
      color: #fff; }
      .gym-nav #gym-logo a i {
        color: #d31f25; }
  @media screen and (max-width: 768px) {
    .gym-nav .menu-1 {
      display: none; } }
  .gym-nav ul {
    padding: 0;
    margin: 8px 0 0 0; }
    .gym-nav ul li {
      padding: 0;
      margin: 0;
      list-style: none;
      display: inline;
      font-weight: 400; }
      .gym-nav ul li a {
        position: relative;
        font-size: 18px;
        padding: 30px 12px;
        color: #FFF;
        -webkit-transition: 0.5s;
        -o-transition: 0.5s;
        transition: 0.5s; }
        .gym-nav ul li a:hover {
          color: #d31f25; }
      .gym-nav ul li.has-dropdown {
        position: relative; }
        .gym-nav ul li.has-dropdown .dropdown {
          width: 140px;
          -webkit-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 33px -9px rgba(0, 0, 0, 0.75);
          z-index: 1002;
          visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 40px;
          left: 0;
          text-align: left;
          background: #000;
          padding: 20px;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          -ms-border-radius: 4px;
          border-radius: 4px;
          -webkit-transition: 0s;
          -o-transition: 0s;
          transition: 0s; }
          .gym-nav ul li.has-dropdown .dropdown:before {
            bottom: 100%;
            left: 40px;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: #000;
            border-width: 8px;
            margin-left: -8px; }
          .gym-nav ul li.has-dropdown .dropdown li {
            display: block;
            margin-bottom: 7px; }
            .gym-nav ul li.has-dropdown .dropdown li:last-child {
              margin-bottom: 0; }
            .gym-nav ul li.has-dropdown .dropdown li a {
              padding: 2px 0;
              display: block;
              color: #999999;
              line-height: 1.2;
              text-transform: none;
              font-size: 13px;
              letter-spacing: 0; }
              .gym-nav ul li.has-dropdown .dropdown li a:hover {
                color: #fff; }
        .gym-nav ul li.has-dropdown:hover a, .gym-nav ul li.has-dropdown:focus a {
          color: #d31f25; }
      .gym-nav ul li.btn-cta a {
        padding: 30px 0px !important;
        color: #fff; }
        .gym-nav ul li.btn-cta a span {
          background: #9870FC;
          /* Old browsers */
          background: -moz-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: -o-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
          background: linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31f25', endColorstr='#9870FC',GradientType=1 );
          /* IE6-9 fallback on horizontal gradient */
          padding: 8px 15px;
          display: -moz-inline-stack;
          display: inline-block;
          zoom: 1;
          *display: inline;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s;
          -webkit-border-radius: 100px;
          -moz-border-radius: 100px;
          -ms-border-radius: 100px;
          border-radius: 100px; }
        .gym-nav ul li.btn-cta a:hover span {
          -webkit-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 14px 20px -9px rgba(0, 0, 0, 0.75); }
      .gym-nav ul li.active > a {
        color: #d31f25 !important;
        position: relative;
        font-weight: bold;
      }
        .gym-nav ul li.active > a:after {
          opacity: 1;
          -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }
          
.gym-light-grey {
  background: #f2f3f7; }

.services-img {
  height: 320px;
  display: block; }
  @media screen and (max-width: 768px) {
    .services-img {
      margin-bottom: 20px; } }

.services-desc {
  padding: 0 1em; }
  @media screen and (max-width: 768px) {
    .services-desc {
      padding: 0; } }
  .services-desc ul li {
    list-style: none;
    margin-bottom: 10px; }

.services {
  margin-bottom: 30px;
  position: relative;
  background: #f2f3f7;
  padding: 20px;
  z-index: 0; }
  .services .icon {
    position: relative; }
    .services .icon i {
      font-size: 50px;
      color: #000;
      z-index: 1;
      background: #9870FC;
      /* Old browsers */
      background: -moz-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: -o-linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
      background: linear-gradient(45deg, #d31f25 0%, #9870FC 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d31f25', endColorstr='#9870FC',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      -o-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;
      -ms-text-fill-color: transparent;
      -o-text-fill-color: transparent;
      text-fill-color: transparent; }
  .services .desc h3 {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }

#gym-offcanvas {
  position: absolute;
  z-index: 1901;
  width: 270px;
  background: #1a1a1a;
  top: 0;
  right: 0;
  top: 0;
  bottom: 0;
  padding: 75px 40px 40px 40px;
  overflow-y: auto;
  display: none;
  -moz-transform: translateX(270px);
  -webkit-transform: translateX(270px);
  -ms-transform: translateX(270px);
  -o-transform: translateX(270px);
  transform: translateX(270px);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  @media screen and (max-width: 768px) {
    #gym-offcanvas {
      display: block; } }
  .offcanvas #gym-offcanvas {
    -moz-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px); }
  #gym-offcanvas a {
    color: rgba(255, 255, 255, 0.5); }
    #gym-offcanvas a:hover {
      color: rgba(255, 255, 255, 0.8); }
  #gym-offcanvas ul {
    padding: 0;
    margin: 0; }
    #gym-offcanvas ul li {
      padding: 0;
      margin: 0;
      list-style: none; }
      #gym-offcanvas ul li > ul {
        padding-left: 20px;
        display: none; }
      #gym-offcanvas ul li.offcanvas-has-dropdown > a {
        display: block;
        position: relative; }
        #gym-offcanvas ul li.offcanvas-has-dropdown > a:after {
          position: absolute;
          right: 0px;
          font-family: 'icomoon';
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          content: "\e0c5";
          font-size: 20px;
          color: rgba(255, 255, 255, 0.2);
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
      #gym-offcanvas ul li.offcanvas-has-dropdown.active a:after {
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        transform: rotate(-180deg); }
      #gym-offcanvas ul li.btn-cta {
        margin-top: 5px; }
        #gym-offcanvas ul li.btn-cta a {
          border-bottom: 1px solid #d31f25;
          padding-bottom: 5px; }

.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background-color: #d31f25;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; }
    .gototop a i {
      height: 50px;
      display: table-cell;
      vertical-align: middle; }
    .gototop a:hover, .gototop a:active, .gototop a:focus {
      text-decoration: none;
      outline: none; }

.gym-nav-toggle {
  width: 25px;
  height: 25px;
  cursor: pointer;
  text-decoration: none;
  /* top: 1.2em !important;  */
}
  .gym-nav-toggle.active i::before, .gym-nav-toggle.active i::after {
    background: #444; }
  .gym-nav-toggle:hover, .gym-nav-toggle:focus, .gym-nav-toggle:active {
    outline: none;
    border-bottom: none !important; }
  .gym-nav-toggle i {
    position: relative;
    display: inline-block;
    width: 25px;
    height: 2px;
    color: #252525;
    font: bold 14px/.4 Helvetica;
    text-transform: uppercase;
    text-indent: -55px;
    background: #252525;
    -webkit-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    transition: all .2s ease-out; }
    .gym-nav-toggle i::before, .gym-nav-toggle i::after {
      content: '';
      width: 25px;
      height: 2px;
      background: #252525;
      position: absolute;
      left: 0;
      -webkit-transition: all .2s ease-out;
      -o-transition: all .2s ease-out;
      transition: all .2s ease-out; }
  .gym-nav-toggle.gym-nav-white > i {
    color: #fff;
    background: #fff; }
    .gym-nav-toggle.gym-nav-white > i::before, .gym-nav-toggle.gym-nav-white > i::after {
      background: #fff; }

.gym-nav-toggle i::before {
  top: -7px; }

.gym-nav-toggle i::after {
  bottom: -7px; }

.gym-nav-toggle:hover i::before {
  top: -10px; }

.gym-nav-toggle:hover i::after {
  bottom: -10px; }

.gym-nav-toggle.active i {
  background: transparent; }

.gym-nav-toggle.active i::before {
  top: 0;
  -webkit-transform: rotateZ(45deg);
  -moz-transform: rotateZ(45deg);
  -ms-transform: rotateZ(45deg);
  -o-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
  background: #fff; }

.gym-nav-toggle.active i::after {
  bottom: 0;
  -webkit-transform: rotateZ(-45deg);
  -moz-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  -o-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  background: #fff; }

.gym-nav-toggle {
  position: absolute;
  right: 0px;
  top: 65px;
  z-index: 21;
  padding: 6px 0 0 0;
  display: block;
  margin: 0 auto;
  display: none;
  height: 44px;
  width: 44px;
  z-index: 2001;
  border-bottom: none !important; }
  @media screen and (max-width: 768px) {
    .gym-nav-toggle {
      display: block; } }

.btn {
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 15px;
  font-weight: 400;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  padding: 8px 20px; }
  .btn.btn-md {
    padding: 8px 20px !important; }
  .btn.btn-lg {
    padding: 18px 36px !important; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important; }

.btn-primary {
  background: #d31f25;
  color: #fff;
  border: 2px solid #d31f25; }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background: #e04545 !important;
    border-color: #e04545 !important; }
  .btn-primary.btn-outline {
    background: transparent;
    color: #d31f25;
    border: 2px solid #d31f25; }
    .btn-primary.btn-outline:hover, .btn-primary.btn-outline:focus, .btn-primary.btn-outline:active {
      background: #d31f25;
      color: #fff; }

.btn-success {
  background: #5cb85c;
  color: #fff;
  border: 2px solid #5cb85c; }
  .btn-success:hover, .btn-success:focus, .btn-success:active {
    background: #4cae4c !important;
    border-color: #4cae4c !important; }
  .btn-success.btn-outline {
    background: transparent;
    color: #5cb85c;
    border: 2px solid #5cb85c; }
    .btn-success.btn-outline:hover, .btn-success.btn-outline:focus, .btn-success.btn-outline:active {
      background: #5cb85c;
      color: #fff; }

.btn-info {
  background: #5bc0de;
  color: #fff;
  border: 2px solid #5bc0de; }
  .btn-info:hover, .btn-info:focus, .btn-info:active {
    background: #46b8da !important;
    border-color: #46b8da !important; }
  .btn-info.btn-outline {
    background: transparent;
    color: #5bc0de;
    border: 2px solid #5bc0de; }
    .btn-info.btn-outline:hover, .btn-info.btn-outline:focus, .btn-info.btn-outline:active {
      background: #5bc0de;
      color: #fff; }

.btn-warning {
  background: #f0ad4e;
  color: #fff;
  border: 2px solid #f0ad4e; }
  .btn-warning:hover, .btn-warning:focus, .btn-warning:active {
    background: #eea236 !important;
    border-color: #eea236 !important; }
  .btn-warning.btn-outline {
    background: transparent;
    color: #f0ad4e;
    border: 2px solid #f0ad4e; }
    .btn-warning.btn-outline:hover, .btn-warning.btn-outline:focus, .btn-warning.btn-outline:active {
      background: #f0ad4e;
      color: #fff; }

.btn-danger {
  background: #d9534f;
  color: #fff;
  border: 2px solid #d9534f; }
  .btn-danger:hover, .btn-danger:focus, .btn-danger:active {
    background: #d43f3a !important;
    border-color: #d43f3a !important; }
  .btn-danger.btn-outline {
    background: transparent;
    color: #d9534f;
    border: 2px solid #d9534f; }
    .btn-danger.btn-outline:hover, .btn-danger.btn-outline:focus, .btn-danger.btn-outline:active {
      background: #d9534f;
      color: #fff; }

.btn-outline {
  background: none;
  border: 2px solid gray;
  font-size: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn-outline:hover, .btn-outline:focus, .btn-outline:active {
    -webkit-box-shadow: none;
    box-shadow: none; }

.btn.with-arrow {
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn.with-arrow i {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    right: 0px;
    top: 50%;
    margin-top: -8px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s; }
  .btn.with-arrow:hover {
    padding-right: 50px; }
    .btn.with-arrow:hover i {
      color: #fff;
      right: 18px;
      visibility: visible;
      opacity: 1; }

.row-pb-lg {
  padding-bottom: 7em !important; }

.row-pb-md {
  padding-bottom: 5em !important; }

.row-pb-sm {
  padding-bottom: 3em !important; }

.nopadding {
  padding: 0 !important;
  margin: 0 !important; }

.js .animate-box {
  opacity: 0; }


  /*---------------------*/

  
.service {
  color : #fff;;
  padding-top: 17px; 
}

.service-heading {
margin: 15px 0;
text-transform: none;
}
#services .portfolio-item {
margin: 0 0 15px;
right: 0;
}
#services .portfolio-item img {
  width: 100%;
  height: 10%;
  border-radius: 20px;
}
#services .portfolio-item .portfolio-link {
display: block;
position: relative;
max-width: 400px;
margin: 0 auto;
}
#services .portfolio-item .portfolio-link .portfolio-hover {
background: rgba(254, 209, 54, 0.8);
position: absolute;
width: 100%;
height: 100%;
opacity: 0;
transition: all ease 0.5s;
-webkit-transition: all ease 0.5s;
-moz-transition: all ease 0.5s;
border-radius: 20px;
}
#services .portfolio-item .portfolio-link .portfolio-hover:hover {
opacity: 1;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
position: absolute;
width: 100%;
height: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
text-align: center;
top: 50%;
margin-top: -12px;
color: #000;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
margin-top: -12px;
}
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#services .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
margin: 0;
}

#services .portfolio-item .portfolio-caption {
max-width: 400px;
margin: 0 auto;
background-color: #d31f25;
text-align: center;
padding: 6px;
border: 1px solid #d31f25;
border-radius: 10px;
}
#services .portfolio-item .portfolio-caption h4 {
text-transform: none;
margin: 0;
color : #fff;
}
#services .portfolio-item .portfolio-caption p {
font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-style: italic;
font-size: 16px;
margin: 0;
}
#services * {
z-index: 2;
}
@media (min-width: 767px) {
#services .portfolio-item {
  margin: 0 0 30px;
}
}

/* Service Test end */
.bolt-bg
{
background: url(../images/service_bg.jpg) no-repeat;
background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  /*height: 100vh;*/
}
.service .wrapper
{
padding: 30px 0px 0px;
}
.service-content
{
background: rgba(40, 36, 50, 0.9);
}
.subtitle
{
padding: 60px 20px 0px;
font-size: 25px;
font-family: 'Roboto';
font-weight: 400;	
}
.service-main-content
{
padding: 20px 20px 0px;
font-size: 16px;
}
.service-main-content:nth-child(2)
{
padding-bottom: 80px;
}
#service .wrapper .service-content .container .service-table
{
display: table;
}
#service .wrapper .service-content .container .service-table .service-table-cell
{
display: table-cell;
padding: 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-bottom: 15px;
  text-transform : uppercase;
}

.call-now-link {
  color: green;
  font-weight: bold;
}

.bottom-part {
  padding: 40px;
  background-color: #000;
  color: #fff;
  font-size: 13px;
}
.bottom-part-hr {
  margin-top:5px;
  height:3px; 
  background-color: #d31f25;
}

.home-section {
  background-image: url('../images/img_bg_1.jpg');
  background-position:center;
  position: relative;
  width: 100%;
  height: 670px;
  margin-left: auto;
  margin-right: auto;
}

.home-heading {
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  vertical-align: middle;
  text-align: center;
  position: relative;
  top: 200px;
  z-index: 9;
}

.header-description
{
	background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 145vh;
  display: table;
	width: 100%;
	color: #fff;
  text-transform: uppercase;
  padding: 0 2px 0 2px;
}
.header-content
{
	display: table-cell;
	text-align: center;
  vertical-align: middle;
}

.heading
{
	font-weight: bold;
	padding: 10px 20px;
	letter-spacing: 1px;
	border: 2px solid #FFF;
	display: inline-block;
  font-size: 40px;
  margin: 0 15px 0 15px;
}
.heading-subtitle
{
	font-weight: 100;
	letter-spacing: 0px;
	font-size: 32px;
	text-transform : capitalize;
}

/* .sticky {
  position: fixed !important;
  top: 0;
  z-index: 9999;
  width: 100%;
  padding: 10px 0;
} */

/***** pic gallery *****/

.gallery {
  padding-top: 20px; 
	/*background: #221e2d;*/
	background : rgb(0, 0, 0);
}

.gallery-item {
  padding-bottom: 25px; 
}

.section-title-red {
  text-align: center;
  color: #d31f25;
  font-size: 40px;
}
.section-title-white {
  text-align: center;
  color: #fff;
}
.section-title-black {
  text-align: center;
  color: #000;
  font-size: 40px;
}
.white-partition {
  width: 60%;
  background: #fff;
  height: 3px;
  text-align: center;
  margin-bottom: 20px;
  display: inline-block;
}

.contact {
  text-align: center;
}

.contact-container {
  border-radius: 25px; 
  margin: 20px;
  display: inline-block;
  width: 70%;
  background-color: #d31f25;
  color: #000;
  min-height: 280px;
  vertical-align: middle;
  padding: 10px;
}

.contact-container .contact-detail, .contact-container .contact-address{
  min-height: 140px;
  margin-bottom: 10px;
}
.contact-detail span{
  position: relative;
  top:-4px;
}

.contact-container-content {
  vertical-align: middle;
}

.contact-map {
  background-color: #000;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px; 
  max-height: 550px;

}
.contact-map-container {
  margin: 10px;
  width: 80%;
  display: inline-block;
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}
.contact-map-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  border: 0;
}

.border {
  border: 1px solid #fff;
  border-radius: 10px;
}

.material-icons {
  font-size: 20px;
  color: #000;
}

.poster-1 {
  padding:20px 25px 0px 25px;
}

.my-content {
  font-size: 12px;
  padding-right: 40px;
}

.logo-img {
  border-radius: 10px;
}